@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.header-box {
    position: relative;
    background-color: #C78B07;
    margin: 15px;
    height: 200px;
}

.logo {
    position: absolute;
    top: 10px;
    left: 0;
    width: 140px;
    height: 140px;
}


header {
	background-color: black;
	min-height: 220px;
	color: white;
	text-align: center;
}

span {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 2em;
}


nav ul li a {
	text-decoration: none;
	color: #C78B07;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.2em;
	margin: 1em;
	padding: 0.5em;
	border-radius: 10px;
}

ul.navigation li:nth-child(1) a {
	color: white;
}

.search-bar {
	display: inline;
	width: 80%;
	margin: auto;
	padding: 0.5em;
	margin: 1em;
	border-radius: 3px;
	align-items: center;
}

h1 {
  color: white;
  padding: 0.4em;
  font-size: 7em;
  font-weight: bold;
}


p {
  color: white;
	margin: 1em;
	font-size: 1.5em;
}

.connect-button {
  display: block;
  width: 210px;
  height: 90px;
  margin: 20px;
  background-color: #C78B07;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 1.24em;
}


.first-article {
	position: relative;
	background-image: url(/images/main-banner.jpg);
	background-size: cover;
	height: 1230px;
	background-position: center;
}

.transparent-box {
	position: absolute;
	top: 24%;
	background-position: center;
	width: 1200px;
	height: 600px;
	max-width: 100%;
	background-color: rgba(47, 43, 43, 0.54);
}

.about-us {
  background-color: #FFE6AC;
  padding-top: 25px;
  padding-bottom: 10px;
}


.pingpong-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  height: auto;
}

.about-us h1 {
  color: black;
  padding: 0.2em;
  font-size: 3.4em;
  font-weight: bolder;
}

.about-us p {
  color: black;
  padding: 0.2em;
  font-weight: 400;
}


.OUR h1 {
  color: black;
  padding: 0.4em;
  font-size: 3.4em;
  font-weight: bolder;
}

.our-services {
  background-color: #FFE6AC;
  padding-bottom: 10px;
  margin: auto;
  width: 95%;
}

.digital-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.our-services h1 {
  color: black;
  padding: 0.6em;
  font-size: 2.8em;
  font-weight: bolder;
}

.our-services P {
  color: black;
  padding: 0.2em;
  font-weight: 400;
}

.digital-plans {
  display: block;
  width: 200px;
  height: 100px;
  margin: 20px;
  background-color: #222222;
  color: white;
  border: none;
  font-size: 1.4em;
}

.marketing {
  background-color: #FFE6AC;
  padding-bottom: 10px;
  margin: auto;
  width: 95%;
}

.marketing h1 {
  color: black;
  padding: 0.6em;
  font-size: 2.8em;
  font-weight: bolder;
}

.marketing P {
  color: black;
  padding: 0.2em;
  font-weight: 400;
}

.marketing-pic {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.marketing-plans {
  display: block;
  width: 200px;
  height: 100px;
  margin: 25px;
  background-color: #222222;
  color: white;
  border: none;
  font-size: 1.4em;
}

.vp {
  background-color: #FFE6AC;
  padding-bottom: 10px;
  margin: auto;
  width: 95%;
}

.vp h1 {
  color: black;
  padding: 0.6em;
  font-size: 2.8em;
  font-weight: bolder;
}

.vp P {
  color: black;
  padding: 0.2em;
  font-weight: 400;
}

.vp-pic {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.video-plans {
  display: block;
  width: 200px;
  height: 100px;
  margin: 25px;
  background-color: #222222;
  color: white;
  border: none;
  font-size: 1.4em;
}

.WD {
  background-color: #FFE6AC;
  padding-bottom: 10px;
  margin: auto;
  width: 95%;
}

.WD h1 {
  color: black;
  padding: 0.6em;
  font-size: 2.8em;
  font-weight: bolder;
}

.WD P {
  color: black;
  padding: 0.2em;
  font-weight: 400;
}

.WD-pic {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.Web-plans {
  display: block;
  width: 200px;
  height: 100px;
  margin: 25px;
  background-color: #222222;
  color: white;
  border: none;
  font-size: 1.4em;
}

.print {
  background-color: #FFE6AC;
  padding-bottom: 10px;
  margin: auto;
  width: 95%;
}

.print h1 {
  color: black;
  padding: 0.6em;
  font-size: 2.8em;
  font-weight: bolder;
}

.print P {
  color: black;
  padding: 0.2em;
  font-weight: 400;
}

.print-pic {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.print-plans {
  display: block;
  width: 200px;
  height: 100px;
  margin: 25px;
  background-color: #222222;
  color: white;
  border: none;
  font-size: 1.4em;
}


@media (min-width: 760px) {
}